<div data-controller="canvas-back"
     data-action="hong-bao:select@window->canvas-back#updatePaper"
     data-canvas-back-paper-id-value="<%= paper.id %>"
     data-canvas-back-context-value="<%= context %>"
     data-canvas-back-elements-value="<%= paper.elements.to_json %>"
     data-canvas-back-image-url-value="<%= paper.image_back.attached? ? url_for(paper.image_back) : '' %>"
     data-canvas-back-mnemonic-value="<%= @hong_bao.mnemonic %>"
     data-canvas-back-private-key-qr-value="<%= bitcoin_qr_code(hong_bao.private_key) %>">
  <canvas data-canvas-back-target="canvas" class="border w-full"></canvas>
</div>
