<header class="bg-base-100 shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex flex-wrap justify-between items-center">
        <h1 class="text-xl font-semibold"><%= link_to "Hong₿ao", root_path %></h1>

        <div class="flex items-center gap-2 flex-wrap">
        <%= render Tokens::BadgeComponent.new(user: current_user) if authenticated? %>
        <!-- Theme Selector -->
        <%= render DropdownComponent.new(
            items: @themes,
            current_item: current_theme,
            path_helper: :root_path) %>
        <span class="pt-2 hidden sm:inline-block">
            <%= link_to 'Star', github_url, class: "github-button", data: { color_scheme: "no-preference: light; light: light; dark: dark;", size: "large", show_count: "true", aria_label: "Star sbounmy/hongbao_bitcoin on GitHub" } %>
        </span>

        <%# Replaced icon-only link with a button including text for clarity %>
        <%= link_to hong_baos_path,
            class: "btn btn-ghost btn-sm normal-case rounded-selector hover:bg-base-200/20 transition-colors" do %>
            <%= heroicon "viewfinder-circle", class: "w-5 h-5 mr-1" %>
            <span>Scan Bill</span>
        <% end %>


        <% if authenticated? %>
            <%= render UserDrawerComponent.new do |component| %>
            <%# This label triggers the drawer identified by drawer_id %>
            <label for="<%= component.drawer_id %>"
                    tabindex="0"
                    class="btn btn-ghost btn-circle avatar cursor-pointer">
                    <%= render AvatarComponent.new(user: Current.user) %>
            </label>
            <% end %>
        <% else %>
            <%= link_to "Login", signup_path, class: "btn btn-outline rounded-selector hover:bg-base-200/20 transition-colors" %>
        <% end %>
        </div>
    </div>
</header>