<div id="<%= dom_id(paper, :like_button) %>" class="like-button-container">
  <%= button_to like_paper_path(paper),
                method: :post,
                params: { variant: variant },
                class: button_classes,
                title: "Like",
                data: { turbo_stream: true } do %>
    <%= heroicon "heart", variant: liked? ? :solid : :outline, class: icon_size %>
    <% if show_count %>
      <span id="<%= dom_id(paper, :likes_count) %>" class="text-sm"><%= likes_count %></span>
    <% end %>
  <% end %>
</div>
