<div class="mt-4 bg-[#FF5C5C] rounded-lg p-4 text-white space-y-3">
  <div class="flex justify-between">
    <span><%= t('.estimated_btc') %>:</span>
    <span><%= number_to_btc(hong_bao.btc_amount) %> BTC</span>
  </div>
  <div class="flex justify-between">
    <span><%= t('.platform_fee') %> (3%):</span>
    <span><%= number_to_currency(hong_bao.platform_fee) %></span>
  </div>
  <div class="flex justify-between">
    <span><%= t('.gas_fee') %>:</span>
    <span><%= number_to_currency(HongBao::GAS_FEE) %></span>
  </div>
  <div class="flex justify-between font-bold">
    <span><%= t('.total_cost') %>:</span>
    <span><%= number_to_currency(hong_bao.total_cost) %></span>
  </div>
</div> 