<div data-hong-bao-target="paperContainer">
  <%= form.hidden_field :paper_id,
      data: { hong_bao_target: "selectedPaper" },
      value: papers.first.id %>

  <% papers.each do |paper| %>
    <div data-paper-preview data-paper-id="<%= paper.id %>"
         class="space-y-4 <%= paper == papers.first ? '' : 'hidden' %>">
      <div class="grid grid-cols-2 gap-4">
        <div class="border-2 border-[#FFB636] rounded-lg p-2">
          <%= image_tag paper.image_front, class: "w-full rounded" if paper.image_front.attached? %>
        </div>
        <div class="border-2 border-[#FFB636] rounded-lg p-2">
          <%= image_tag paper.image_back, class: "w-full rounded" if paper.image_back.attached? %>
        </div>
      </div>

      <%= render "wallet_info", hong_bao: hong_bao if hong_bao.mnemonic && hong_bao.address %>
    </div>
  <% end %>
</div>