<% if @hong_bao.payment_method&.name == "mt_pelerin" %>
  <div class="mt-4">
    <button onclick="openMtPelerinModal()" class="btn btn-primary">
      Open Payment Window
    </button>
  </div>

  <script>
    function openMtPelerinModal() {
      const options = {
        _ctkn: "954139b2-ef3e-4914-82ea-33192d3f43d3",
        type: "direct-link",
        lang: "<%= I18n.locale %>",
        tab: "buy",
        tabs: "buy",
        net: "<%= Rails.env.production? ? 'bitcoin_mainnet' : 'bitcoin_testnet' %>",
        nets: "<%= Rails.env.production? ? 'bitcoin_mainnet' : 'bitcoin_testnet' %>",
        curs: "EUR,USD,SGD",
        ctry: "FR",
        primary: "#F04747",
        success: "#FFB636",
        amount: "<%= @hong_bao.amount %>",
        mylogo: "<%= asset_url("hongbao-bitcoin-logo-520.png") %>",
        addr: "<%= @hong_bao.address %>",
        code: "<%= @hong_bao.mt_pelerin_request_code %>",
        hash: "<%= @hong_bao.mt_pelerin_request_hash %>"
      };

      showMtpModal(options);
    }
  </script>
<% end %>