<% if @hong_bao.balance.utxos.any? %>
  <%= form_with(model: @hong_bao,
                url: transfer_hong_bao_path(@hong_bao.address),
                id: "bitcoin",
                class: "space-y-6 group",
                data: {
                  controller: "steps bitcoin",
                  action: "bitcoin:transferSuccess->steps#next",
                  steps_hidden_class: "hidden",
                  steps_current_value: @current_step,
                  bitcoin_network_value: Current.network,
                  bitcoin_custom_wallet_value: false
                }) do |form| %>

    <%= render "shared/error_messages", resource: @hong_bao if @hong_bao.errors.any? %>

    <%# Progress Steps %>
    <%= render "hong_baos/progress_steps", steps: @steps, current_step: @current_step %>
    <%# Step 1: Balance %>
    <div data-steps-target="content" data-steps-index="1">
      <%= render "hong_baos/show/balance", hong_bao: @hong_bao %>
    </div>

    <%# Step 2: Private Key %>
    <div data-steps-target="content" data-steps-index="2" class="hidden">
      <%= render "hong_baos/show/private_key", form: form %>
    </div>

    <%# Step 3: Destination %>
    <div data-steps-target="content" data-steps-index="3" class="hidden">
      <%= render "hong_baos/show/destination", form: form %>
    </div>

    <%# Step 4: Complete %>
    <div data-steps-target="content" data-steps-index="4" class="hidden">
      <%= render "hong_baos/show/complete", hong_bao: @hong_bao %>
    </div>
  <% end %>
<% else %>
  <%= render "hong_baos/show/balance", hong_bao: @hong_bao %>
<% end %>