<div class="min-h-screen bg-[#FFE5E5] flex flex-col items-center justify-center p-4">
  <div class="w-full max-w-lg bg-[#F04747] p-8
              border-4 border-[#FFB636] outline outline-8 outline-[#F04747]
              rounded-2xl shadow-2xl relative">

    <%= render "hong_baos/new/header" %>

    <%= form_with(model: @hong_bao,
                  class: "space-y-6",
                  data: {
                    controller: "hong-bao",
                    hong_bao_current_step_value: @current_step || 1
                  }) do |form| %>

      <%= render "hong_baos/new/progress_steps", current_step: @current_step %>

      <%= render "shared/error_messages", resource: @hong_bao if @hong_bao.errors.any? %>

      <%= render "hong_baos/new/steps/design",
          form: form,
          papers: @papers,
          hong_bao: @hong_bao %>

      <%= render "hong_baos/new/steps/print",
          form: form,
          hong_bao: @hong_bao,
          papers: @papers,
          selected_paper: @papers.find { |p| p.id.to_s == @hong_bao.paper_id.to_s } || @papers.first %>

      <%= render "hong_baos/new/steps/top_up",
          form: form,
          payment_methods: @payment_methods,
          hong_bao: @hong_bao %>

      <%= render "hong_baos/new/navigation_buttons", current_step: @current_step, hong_bao: @hong_bao %>

    <% end %>
  </div>

  <%= render "shared/footer" %>
  <%= render "shared/donation_banner" %>

</div>