<div class="min-h-screen bg-[#FFE5E5] flex items-center justify-center p-4">
  <div class="w-[400px] bg-[#F04747] rounded-[32px] p-8 border-2 border-[#FFB636] shadow-lg">
    <%# Language Toggle %>
    <div class="flex justify-end mb-6">
      <%= link_to t('.switch_language'),
          { locale: I18n.locale == :en ? :'zh-CN' : :en },
          class: "text-white" %>
    </div>

    <%# Title %>
    <h1 class="text-[28px] font-bold text-[#FFB636] text-center mb-3">
      <%= t('.title') %>
    </h1>
    
    <%= form_with model: @hong_bao, 
                  class: "space-y-6", url: new_hong_bao_path, method: :get do |f| %>
      <div class="text-white mb-2">
        <%= t('.amount_label') %>
      </div>

      <%= f.number_field :amount,
          class: "w-full bg-[#FF5C5C] text-white placeholder-[#FFB3B3] 
                 rounded-lg py-3 px-4 border-none focus:ring-0",
          placeholder: t('.amount_placeholder'), onchange: 'this.form.requestSubmit()' %>
        <%= render "fee_calculation", hong_bao: @hong_bao %>
    <% end %>
  </div>
</div>
