<%= permission_banner(:video) %>

<div class="flex flex-col items-center justify-center min-h-screen bg-[#FFE5E5] p-4">
  <div class="w-full max-w-xl bg-[#F04747] rounded-xl shadow-2xl overflow-hidden
              border-4 border-[#FFB636] outline outline-8 outline-[#F04747]">
    <div class="p-8">
      <%= form_with(model: @hong_bao,
                    url: transfer_hong_bao_path(@hong_bao.address),
                    id: "bitcoin",
                    data: {
                      controller: "steps bitcoin",
                      steps_hidden_class: "hidden",
                      steps_current_value: @current_step,
                      bitcoin_network_value: Current.network,
                      bitcoin_utxos_value: @hong_bao.balance.utxos_for_transaction.to_json
                    }) do |form| %>

        <%= render "shared/error_messages", resource: @hong_bao if @hong_bao.errors.any? %>

        <%# Progress Steps %>
        <%= render "hong_baos/progress_steps", steps: @steps, current_step: @current_step %>
        <%# Step 1: Balance %>
        <div data-steps-target="content">
          <%= render "hong_baos/show/balance", hong_bao: @hong_bao %>
        </div>

        <%# Step 2: Private Key %>
        <div data-steps-target="content" class="hidden">
          <%= render "hong_baos/show/private_key", form: form %>
        </div>

        <%# Step 3: Destination %>
        <div data-steps-target="content" class="hidden">
          <%= render "hong_baos/show/destination", form: form %>
        </div>

        <%# Step 4: Complete %>
        <div data-steps-target="content" class="hidden">
          <%= render "hong_baos/show/complete", hong_bao: @hong_bao %>
        </div>
      <% end %>
    </div>
  </div>
</div>