<div class="relative group/card w-full">

  <label class="block cursor-pointer">
    <%= form.fields_for :input_item_style_attributes do |style_form| %>
      <%= style_form.radio_button :input_id, radio.id, {
          checked: form.object.input_item_style&.input_id == radio.id || @iteration.first?,
          class: "peer sr-only"
      } %>
    <% end %>

    <div class="rounded-xl border-2
                peer-checked:border-primary peer-checked:ring-2 peer-checked:ring-primary
                group-hover/card:border-primary
                peer-checked:[&>svg]:block">
      <!-- Image Container -->
      <div class="relative aspect-square rounded-lg overflow-hidden bg-gray-100">
        <% if radio.image.attached? %>
          <%= image_tag radio.image, class: "w-full h-full object-cover" %>
        <% end %>
      </div>
      <%= heroicon "check", class: "absolute bg-primary rounded-full p-1 right-2 bottom-15 h-5 hidden" %>
    </div>

    <!-- Title -->
    <h3 class="p-4 text-center peer-checked:text-primary text-sm font-medium text-gray-900 group-hover/card:text-primary transition-colors">
      <%= radio.name %>
    </h3>
  </label>
</div>