<%= render DiffComponent.new(class: local_assigns[:class]) do |diff| %>
	<% diff.with_before do %>
			<div class="flex flex-col justify-center items-center">
					<%= image_tag image_url("naruto-paper-back.jpg") %>
					<div class="absolute bottom-[12%] left-[8%] badge badge-error badge-xl rounded-full font-bold">
					<%= heroicon "no-symbol", variant: :solid, class: "w-5 h-5" %>
					HONG₿AO
					</div>
			</div>
	<% end %>
	<% diff.with_after do %>
			<div class="flex flex-col justify-center items-center">
					<%= image_tag image_url("naruto-paper-back.jpg") %>
					<div class="absolute bottom-[12%] right-[8%] badge badge-success badge-xl rounded-full font-bold">
					<%= heroicon "check-circle", variant: :outline, class: "w-5 h-5" %>
					HONG₿AO
					</div>
			</div>
	<% end %>
<% end %>