<div class="flex flex-col h-full max-h-full overflow-hidden"
     data-controller="pdf binding"
     data-pdf-filename-value=""
     data-binding-attribute-value="pdfFilenameValue"
     data-binding-name-value="publicAddressText"
     data-action="bitcoin:changed@window->binding#attribute"
     data-steps-target="content"
     data-steps-index="<%= local_assigns[:index] || 2 %>">

  <div role="alert" class="alert rounded-t-xl alert-horizontal bg-purple/20 border-none border-b">
    <%= heroicon "arrow-down-tray", class: "stroke-info w-6 h-6 shrink-0" %>
    <div class='space-y-1'>
      <h3 class="flex flex-row gap-2 items-center font-bold">OFFLINE MODE<span class='badge badge-neutral badge-xs'>NEW</span></h3>
      <div class="text-sm">In your browser, <span class="font-medium">select <kbd class="kbd kbd-sm">File </kbd> &gt; <kbd class='kbd kbd-sm'>Save Page As</kbd> &gt; <kbd class='kbd kbd-sm'>Format: <b>Webpage, Complete</b></kbd> &gt; <kbd class='kbd kbd-sm'>Save</kbd></span></div>
      <div class="text-sm">Double-click that <kbd class="kbd kbd-sm">.html</kbd> file to open it in a browser on any offline computer.</div>
    </div>
    <%# <button class="btn btn-sm">See</button> %>
  </div>

  <div class="flex flex-col gap-2 px-4">
    <%= button_tag "Use my own keys",
            data: {
              action: "bitcoin#generate dialog-key#reset dialog-key:accepted@window->bitcoin#customWalletChanged"
            },
            id: "bitcoin-generate",
            class: "btn btn-secondary" do %>
      <%= heroicon "arrow-path", class: "w-5 h-5" %> Use my own keys
    <% end %>

    <%= button_tag "Generate new keys",
            data: {
              action: "steps#next"
            },
            id: "bitcoin-generate",
            class: "btn btn-primary" do %>
      <%= heroicon "arrow-path", class: "w-5 h-5" %> Generate new keys
    <% end %>
  </div>
</div>