<div class="flex flex-col h-full max-h-full overflow-hidden"
     data-controller="binding"
     data-action="bitcoin:changed@window->binding#attribute"
     data-steps-target="content"
     data-steps-index="<%= local_assigns[:index] || 2 %>">


  <div class="space-y-3 px-4 py-2">
    <%# render AlertComponent.new(icon: 'information-circle', message: 'You can import your own keys, or generate a new random one (default). We do not validate imported keys, so please make sure you know what you are doing', class: 'group-[div[data-bitcoin-custom-wallet-value="true"]]:hidden') %>
    <%# render AlertComponent.new(icon: 'information-circle', message: "You're using custom keys. If you're in an untrusted or unsafe environment (printer, internet, or device), fill in only the public address — never the private key & recovery phrase.", class: 'hidden group-[div[data-bitcoin-custom-wallet-value="true"]]:flex') %>

    <%= render TextareaComponent.new(:mnemonic_text, label: 'Seed (24 words)', clipboard: true) do |fieldset| %>
      <%= fieldset.with_icon do %>
        <%= heroicon "qr-code", class: "w-5 h-5" %>
      <% end %>
      <%= fieldset.with_badge do %>
        <div class="flex flex-row gap-2 items-center">
          <%= button_tag '#',
                  data: {
                    action: "bitcoin#generateNewKeys"
                  },
                  id: "bitcoin-generate",
                  class: "text-[#FFB636] p-1.5 hover:text-[#FFB636]/80 transition-colors" do %>
            <%= heroicon "arrow-path", class: "w-5 h-5" %>
          <% end %>
          <%= tag.span("Optional", class: 'badge badge-neutral badge-xs hidden group-[div[data-bitcoin-custom-wallet-value="true"]]:flex') %>
        </div>
      <% end %>
      <%= fieldset.with_input do %>
        <%= text_area_tag :mnemonic_text,
                          "",
                          class: "text-area w-full text-white font-mono text-sm py-2 px-10 rounded border border-white/10 resize-none",
                          data: {
                            clipboard_target: "source",
                            controller: "binding textarea-autogrow",
                            binding_name_value: "mnemonicText",
                            action: "bitcoin:changed@window->binding#value input->bitcoin#mnemonicChanged binding:changed->textarea-autogrow#autogrow"
                          } %>
        <p class='label hidden group-[div[data-bitcoin-custom-wallet-value="true"]]:flex'>Hand write it on the paper after printing.</p>
      <% end %>
    <% end %>

    <%= render FieldsetComponent.new(:private_key_text, label: '', clipboard: true) do |fieldset| %>
      <%= fieldset.with_icon do %>
        <span class="label">Private Key</span>
      <% end %>
      <%= fieldset.with_badge do %>
        <%= tag.span("Optional", class: 'badge badge-neutral badge-xs hidden group-[div[data-bitcoin-custom-wallet-value="true"]]:flex') %>
      <% end %>
      <%= fieldset.with_input do %>
          <%= text_field_tag :private_key_text,
                            "",
                            class: "bg-transparent",
                            data: {
                              clipboard_target: "source",
                              controller: "binding",
                              binding_name_value: "privateKeyText",
                              action: "bitcoin:changed@window->binding#value input->bitcoin#privateKeyChanged"
                            } %>
      <% end %>
      <%= fieldset.with_note do %>
        <p class='label hidden group-[div[data-bitcoin-custom-wallet-value="true"]]:flex'>Hand write it on the paper after printing.</p>
      <% end %>
    <% end %>

    <div class="space-y-1">
      <%= render FieldsetComponent.new(:public_address_text, label: '', clipboard: true) do |fieldset| %>
        <%= fieldset.with_icon do %>
          <span class="label">Public Address</span>
        <% end %>
        <%= fieldset.with_input do %>
            <%= text_field_tag :public_address_text,
                              "",
                              class: "",
                              data: {
                                clipboard_target: "source",
                                controller: "binding",
                                binding_name_value: "publicAddressText",
                                action: "bitcoin:changed@window->binding#value input->bitcoin#publicAddressChanged"
                              } %>

        <% end %>
      <% end %>
    </div>

    <div class="sticky bottom-0 rounded-b-3xl z-30 bg-[#F04747] border-t border-[#FFB636]/20">
      <div class="flex flex-col items-center gap-4 w-full">

        <div class="flex items-center space-x-4 w-full">
          <%= render "hong_baos/new/next_button" %>
        </div>
      </div>
    </div>
  </div>

</div>