<div
    class="flex flex-col h-full max-h-full overflow-y-auto"
     data-controller="pdf"
     data-steps-target="content"
     data-steps-index="2">
  <div class="text-white space-y-4">

      <div data-pdf-target='content' class="w-[210mm] h-[297mm] bg-white p-8 mx-auto">
        <%= cuttable_content class: "flex flex-col items-center" do %>
          <%= render 'hong_baos/new/front_bill', class_name: "w-[170mm] h-[90mm] rotate-180", paper:, actions: "hong-bao:front@window->canva#backgroundImageChanged" %>

          <%# Fold Line %>
          <div class="my-4 border-t-2 border-dashed border-gray-400"></div>

          <%= render 'hong_baos/new/back_bill', class_name: "w-[170mm] h-[90mm]", paper:, actions: "hong-bao:back@window->canva#backgroundImageChanged" %>
        <% end %>
        <%= render 'hong_baos/pdf/footer', paper: %>
      </div>

    <%# PDF Viewer %>
    <div class="flex flex-col gap-4">
      <iframe data-paper-pdf-target="pdfViewer" class="hidden" data-action="hong-bao:backToStep1@window->paper-pdf#reset"></iframe>
    </div>

  </div>

  <div class="sticky bottom-0 rounded-b-3xl z-30 bg-[#F04747] border-t border-[#FFB636]/20">

    <div class="flex flex-col items-center gap-4 p-8 w-full">
      <!-- Download PDF Button -->
        <button type="button"
              class="w-full py-3 px-4 bg-[#FFB636] rounded-xl shadow-lg text-sm font-medium
                      text-black hover:bg-[#FFB636]/90 transition-colors duration-300 flex items-center justify-center gap-2"
              data-paper-pdf-target="downloadButton"
              data-action="pdf#download">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        Download PDF
      </button>

      <div class="flex items-center space-x-4 w-full">
        <%= render "hong_baos/new/previous_button" %>
        <%= render "hong_baos/new/next_button",
          html_options: {
            disabled: true,
            data_action: "paper-pdf:downloaded@window->disabled#remove"
          } %>
      </div>
    </div>
  </div>

</div>
