<div data-controller="payment-method"
     data-steps-target="content"
     data-mode="deposit"
     data-action="hong-bao:walletChanged@window->payment-method#updateAddress">
  <div class="mb-8 text-white space-y-4">
    <h3 class="text-xl font-bold text-[#FFB636]">Top up your Hong Bao</h3>
    <p class="text-white/90">Choose your preferred way to send bitcoin to this address:</p>

    <%# Bitcoin Address Display %>
    <div data-payment-method-target="addressDisplay">
      <%= render "shared/bitcoin_address", address: hong_bao.address %>
    </div>
  </div>

  <%# Payment Methods Grid %>
  <div class="grid grid-cols-2 gap-4">
    <% payment_methods.each do |method| %>
      <label class="cursor-pointer">
        <%= form.radio_button :payment_method_id,
            method.id,
            class: "hidden peer",
            data: {
              payment_method_target: "paymentMethod",
              action: "click->payment-method#methodSelected",
              method_name: method.name.downcase,
              mt_pelerin_token: method.name.downcase == "mt_pelerin" ? Rails.application.credentials.dig(:mt_pelerin, :token) : nil,
              mt_pelerin_rfr: method.name.downcase == "mt_pelerin" ? Rails.application.credentials.dig(:mt_pelerin, :rfr) : nil
            } %>
        <div class="border-2 border-transparent peer-checked:border-[#FFB636] rounded-lg p-4 text-center
                    bg-white/10 hover:bg-white/20 transition-colors duration-300">
          <div class="w-full flex items-center justify-center h-4 m-auto">
            <%= render_payment_logo(method.logo) %>
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <div class="flex items-center space-x-4 mt-8">
    <%= render "hong_baos/new/previous_button" %>
    <div class="flex-1">
      <%= render "hong_baos/new/verify_button", current_step: 3, hong_bao: hong_bao %>
    </div>
  </div>

  <%= render "hong_baos/shared/wallet_modals",
      hong_bao: hong_bao,
      payment_methods: payment_methods,
      mode: :deposit %>

  <%# Hidden data for JS %>
  <div data-payment-method-target="addressData" class="hidden"></div>
</div>