<div class="min-h-screen">
  <!-- Header -->
  <header class="bg-base-100 shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
      <h1 class="text-xl font-semibold">Hongbao</h1>

      <!-- Theme Selector -->
      <%= render DropdownComponent.new(
        items: Ai::Theme.all,
        current_item: current_theme,
        path_helper: :v2_path) %>
    </div>
  </header>

  <!-- Hero -->
  <div class="relative">
    <% if current_theme.hero_image.attached? %>
      <div class="absolute inset-0 z-0">
        <%= image_tag current_theme.hero_image, class: "w-full h-full object-cover" %>
        <div class="absolute inset-0 bg-black/40"></div>
      </div>
    <% end %>

    <div class="relative max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-left text-white">
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
          <span >Be your own </span>
          <span>₿ank</span>
        </h1>
        <p class="mt-3 mx-auto text-base sm:text-lg md:mt-4">
          Print your own Bitcoin bank note, top up your balance, and gift it.
        </p>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-y-8 gap-x-6">
      <%= form_with(model: Ai::ImageGpt.new, class: "contents", data: { turbo_frame: "paper_form" }) do |form| %>
        <!-- Column 1: Styles -->
        <div class="relative">
          <h2 class="text-lg font-medium mb-4">1. Choose Style</h2>
          <div class="grid grid-cols-2 gap-2">
            <%= render Ai::Styles::CheckboxComponent.with_collection(@styles, form:) %>
          </div>
        </div>

        <!-- Column 2: Upload -->
        <div class="relative">
          <h2 class="text-lg font-medium mb-4">2. Upload Picture</h2>
          <%= render PictureUploadComponent.new(form: form) %>
          <%= form.hidden_field :ai_theme_id, value: current_theme.id %>
          <%= form.submit "Generate", class: "btn btn-primary btn-wide", data: { turbo_submits_with: "Processing..." } %>
        </div>
      <% end %>

      <!-- Column 3: Preview -->
      <div class="relative md:-mt-64 lg:-mt-84 z-10 md:col-span-2">
        <div class="rounded-xl shadow-xl p-6 bg-base-300 flex flex-col gap-4">
          <h2 class="text-lg font-medium">3. Preview</h2>
          <div class="space-y-4 max-h-[calc(100vh-24rem)] overflow-y-auto">
            <%= render V2::Papers::ItemComponent.with_collection(@papers) %>
          </div>
          <div class="flex justify-between">
            <button class="btn btn-secondary">Share</button>
            <button class="btn btn-primary btn-wide">Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>