<div data-visual-editor-target="propertiesPanel" class="hidden absolute top-4 right-4 bg-base-200/90 backdrop-blur-lg p-4 rounded-lg shadow-xl border border-base-300/30 w-64 z-10">
  <div data-visual-editor-target="panelHandle" class="absolute top-0 left-0 w-full h-8 cursor-move flex flex-col items-center justify-center">
    <%= heroicon "ellipsis-horizontal", class: "w-6 h-6 text-gray-700" %>
  </div>
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-lg font-bold" data-visual-editor-target="panelTitle">Properties</h3>
    <button type="button" class="btn btn-xs btn-ghost" data-action="click->visual-editor#closePanel">✕</button>
  </div>

  <div class="space-y-4">
    <%# X Position Input %>
    <div class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">X Position (%)</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 0, max: 100, step: 0.01, data: { visual_editor_target: "panelXInput", action: "input->visual-editor#updateFromPanel", property: "x" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, step: 0.01, data: { visual_editor_target: "panelXValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "x" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Y Position Input %>
    <div class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Y Position (%)</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 0, max: 100, step: 0.01, data: { visual_editor_target: "panelYInput", action: "input->visual-editor#updateFromPanel", property: "y" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, step: 0.01, data: { visual_editor_target: "panelYValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "y" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Color Input %>
    <div data-visual-editor-target="panelColorContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Color</span>
      <%end%>
      <%= color_field_tag nil, nil, data: { visual_editor_target: "panelColorInput", action: "input->visual-editor#updateFromPanel", property: "color" }, class: "input input-bordered w-full" %>
    </div>

    <%# Opacity Input %>
    <div data-visual-editor-target="panelOpacityContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Opacity</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 0, max: 1, step: 0.05, data: { visual_editor_target: "panelOpacityInput", action: "input->visual-editor#updateFromPanel", property: "opacity" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, min: 0, max: 1, step: 0.05, data: { visual_editor_target: "panelOpacityValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "opacity" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Width Input %>
    <div data-visual-editor-target="panelWidthContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text" data-visual-editor-target="panelWidthLabel">Width (%)</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 5, max: 100, step: 0.01, data: { visual_editor_target: "panelWidthInput", action: "input->visual-editor#updateFromPanel", property: "width" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, step: 0.01, data: { visual_editor_target: "panelWidthValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "width" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Height Input %>
    <div data-visual-editor-target="panelHeightContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Height (%)</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 5, max: 100, step: 0.01, data: { visual_editor_target: "panelHeightInput", action: "input->visual-editor#updateFromPanel", property: "height" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, step: 0.01, data: { visual_editor_target: "panelHeightValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "height" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Font Size Input (for text elements only) %>
    <div data-visual-editor-target="panelSizeContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Font Size (%)</span>
      <%end%>
      <div class="flex items-center space-x-2">
        <%= range_field_tag nil, nil, min: 1, max: 50, step: 0.01, data: { visual_editor_target: "panelSizeInput", action: "input->visual-editor#updateFromPanel", property: "size" }, class: "range range-primary flex-grow" %>
        <%= number_field_tag nil, nil, step: 0.01, data: { visual_editor_target: "panelSizeValueInput", action: "change->visual-editor#updateFromPanel keydown->visual-editor#preventSubmitOnEnter", property: "size" }, class: "input input-bordered w-14 text-right [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" %>
      </div>
    </div>

    <%# Preview Text Input %>
    <div data-visual-editor-target="panelPreviewTextContainer" class="form-control">
      <%= label_tag nil do %>
        <span class="label-text">Preview Text</span>
      <%end%>
      <%= text_area_tag nil, nil, data: { visual_editor_target: "panelPreviewTextInput", action: "input->visual-editor#updatePreviewText" }, class: "textarea textarea-bordered", rows: 3 %>
    </div>
  </div>
</div>