<div class="flex flex-col gap-2 w-full">
  <div class="flex items-center gap-4 text-white">
    <button class="btn btn-ghost btn-square btn-sm" data-action="click->steps#previous" data-steps-target="previousButton">
      <%= heroicon "chevron-left", class: "w-4 h-4" %>
    </button>
    <div class="font-semibold text-xs"><%= t(".step", default: "Étape") %>: <span data-steps-target="counterCurrent"><%= current_step %></span> / <span><%= steps.size %></span></div>
  </div>
  <progress class="progress progress-warning w-full" data-steps-target="progress" value="<%= current_step %>" max="<%= steps.size %>"></progress>
</div>