<% content_for :skip_analytics, true %>

<% content_for :head do %>
  <meta name="robots" content="noindex, follow">
<% end %>

<% content_for :footer do %>
  <span class="text-white"></span>
<% end %>

<%= content_for :og_image, rails_blob_url(@paper.image_front, only_path: false) if @paper.image_front.attached? %>
<%= content_for :title, @paper.name if @paper.name.present? %>

<% attributes_for(:screen_attributes, {
  class: 'relative overflow-hidden',
  data: {
    controller: 'steps bitcoin pdf reveal',
    steps_current_value: @current_step.to_s,
    steps_hidden_class: 'hidden',
    bitcoin_auto_generate_value: 'true',
    bitcoin_network_value: Current.network.to_s,
    bitcoin_custom_wallet_value: 'false',
    bitcoin_hongbao_logo_value: asset_to_base64('hongbao-bitcoin.png'),
    bitcoin_bitcoin_logo_value: asset_to_base64('bitcoin-64x64.svg'),
    pdf_filename_value: ''
  }
}) %>

<% content_for(:screen_header) do %>
  <%= render "papers/show/headers/canvas", paper: @paper, current_step: @current_step, network: Current.network %>
  <%= render "papers/show/headers/finish", paper: @paper, current_step: @current_step, network: Current.network %>
<% end %>

<%= turbo_frame_tag "qr_scanner" %>

<%# Screen 1: Canvas - Paper preview with toolbar %>
<%= render "papers/show/screens/canvas", paper: @paper, current_step: @current_step %>

<%# Screen 2: Finish - Download, Fund, Track %>
<div class="<%= 'hidden' unless @current_step == 2 %> flex flex-col h-[calc(100dvh-var(--canvas-offset))]"
     data-steps-target="content"
     data-steps-index="2">
  <%= render "shared/error_messages", resource: @hong_bao if @hong_bao&.errors&.any? %>
  <%= render "papers/show/screens/finish", paper: @paper, current_step: @current_step %>
</div>
