<!-- app/components/v3/plan_option_component.erb -->
<%= form_tag helpers.checkout_index_path, method: :post, data: { turbo: false }, class: "block" do %>
  <%= hidden_field_tag :price_id, stripe_price_id %>
  <button type="submit" class="w-full text-left p-4 border rounded-lg hover:border-blue-500 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-colors duration-150 ease-in-out relative <%= default ? 'border-blue-500 ring-2 ring-blue-500' : 'border-gray-300' %>">
    <% if default %>
      <div class="absolute top-2 right-2 bg-blue-500 text-white text-xs font-semibold px-2 py-1 rounded-full">
        Plus Populaire
      </div>
    <% end %>
    <div class="flex justify-between items-center">
      <div>
        <span class="block font-semibold text-gray-800"><%= name %></span>
        <span class="block text-sm text-gray-600"><%= tokens %> ₿ao credits</span>
      </div>
      <span class="font-semibold text-gray-800"><%= formatted_price %></span>
    </div>
  </button>
<% end %>