<% content_for :body_class, "bg-white" %>

<div class="w-[1200px] h-[630px] flex items-center justify-between relative overflow-hidden p-12 bg-[radial-gradient(circle_at_15%_45%,theme(colors.orange.400/75)_2%,transparent_36%),radial-gradient(ellipse_at_97%_96%,theme(colors.red.400/75)_6%,transparent_20%),radial-gradient(circle_at_19%_87%,theme(colors.red.400/75)_19%,transparent_53%),radial-gradient(circle_at_84%_95%,theme(colors.yellow.400/75)_60%,transparent_86%),radial-gradient(circle_at_50%_39%,theme(colors.yellow.200/75)_35%,transparent_88%)]">
  <!-- Main text content -->
  <div class="relative z-10">
    <div class="mb-3 md:mb-4">
      <span class="text-4xl font-semibold text-black">
      <%= image_tag image_url("bitcoin-64x64.svg"), class: "inline-block h-10 w-10 align-middle -mt-1" %>
        Hong₿ao
      </span>
    </div>

    <h1 class="text-7xl font-semibold text-black leading-tight mb-8 md:mb-10">
      The freedom of Bitcoin.<br/>
      In an envelope.
    </h1>

    <%= link_to dashboard_path, class: "bg-black text-white px-6 py-2.5 sm:px-8 sm:py-3 rounded-full text-base sm:text-lg font-medium hover:bg-gray-800 transition-colors duration-150 ease-in-out shadow-lg" do %>
      <%= heroicon "printer", variant: :solid, class: "inline-block h-4 w-4 align-middle mr-1" %>
      <span class="inline-block">Gift now</span>
    <% end %>
  </div>

  <!-- Bitcoin Red Envelope Mockup -->
  <div class="group w-80 z-0 mb-[-100px]" data-controller='reveal' data-reveal-target='item' data-reveal-hidden-class="is-flipped" data-action="click->reveal#toggle">
		<div class="w-full h-full cursor-pointer relative transition-transform duration-700 ease-in-out group-[.is-flipped]:[transform:rotateY(180deg)] group-[.is-flipped]:z-40 [transform-style:preserve-3d] min-h-[280px]">
      <!-- Front Face -->
			<div class="w-full h-full flex flex-col justify-center items-start space-y-4 [backface-visibility:hidden] [-webkit-backface-visibility:hidden]"
      data-action="click->reveal#show">
      	<%= image_tag image_url("index/red_front.jpg"), class: "brightness-100 rounded shadow-uplift" %>
			</div>

      <!-- Back Face (Modal Content) -->
			<div class="absolute inset-0 w-full h-full bg-base-100 [transform:rotateY(180deg)] [backface-visibility:hidden] [-webkit-backface-visibility:hidden]">
				<%= image_tag image_url("index/red_back.jpg"), class: "brightness-100 rounded shadow-xl/30" %>
			</div>
    </div>
  </div>
</div>