<div class="relative <%= default ? 'bg-yellow-300/50' : '' %> rounded-lg">
  <% if default %>
    <div class="absolute -top-6 left-0">
      <span class="badge badge-primary">Most Popular</span>
    </div>
  <% end %>

  <div class="grid grid-cols-4 items-center text-center p-4 rounded-lg">
    <div class="font-medium"><%= tokens %> ₿ao</div>
    <div class="font-mono">$<%= "%.2f" % (price.to_f / tokens) %></div>
    <div class="font-mono">$<%= price %></div>
    <div>
      <button class="btn btn-sm <%= default ? 'bg-pink-500 hover:bg-pink-600 border-none text-white' : 'btn-outline border-pink-500 text-pink-500 hover:bg-pink-500 hover:text-white' %>"
              data-stripe-price-id="<%= stripe_price_id %>">
        Select
      </button>
    </div>
  </div>
</div>