<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%# Mobile Viewport Meta Tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%# Primary Meta Tags %>
    <title><%= t('.meta.title') %></title>
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : t('.meta.title') %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('.meta.description') %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : t('.meta.keywords') %>">

    <%# Open Graph / Facebook %>
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : t('.meta.title') %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : t('.meta.description') %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('og-image.jpg') %>">


    <%# Twitter %>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="<%= content_for?(:title) ? yield(:title) : t('.meta.title') %>">
    <meta property="twitter:description" content="<%= t('.meta.description') %>">
    <meta property="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('og-image.jpg') %>">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "application", "tailwind", "data-turbo-track": "reload" %>
    <%# Support importmap for legacy browsers https://caniuse.com/import-maps %>
    <script defer data-domain="hongbaob.tc" src="https://plausible.io/js/script.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <%= theme_css(current_theme) %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
    <%# javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= render(AnalyticsComponent.new(renderable: !content_for?(:skip_analytics))) %>
  </head>

  <%= tag.body(data: { theme: 'light' }, **attributes_from(yield(:body_attributes))) do %>
    <%= yield %>
  <% end %>

  <!-- After the body tag so icons are loaded even after the page changes on click -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <%= content_for?(:footer) ? yield(:footer) : render("shared/footer") %>
</html>
